<html>
 <head>
            <title>Anna's blog</title>
        </head>
        <body>
        <h1><p><em><strong>Dear</strong></em></p></h1>
    <h2><p><em><strong>Anna</strong></em></p></h2>

    <div>
    <p>C'est magnifique!</p>
    <p>It works!</p> 
    <p>Follow the link: <a href="http://djangogirls.org">link</a></p>
</div>
{% for post in posts %}
<div>
<p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p> </div>
             {% endfor %}
</body>
</html>
